.bandeauAccueil{
    height: 150px;
    width: 88%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 0 0 6%;
}

.texteBandeau {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    top: -135px;
    font-size: xx-large;
}

@media (max-width: 850px) { 
    .texteBandeau {
        display: flex;
        justify-content: center;
        color: white;
        position: relative;
        top: -100px;
        font-size: large;
    }
}