.dropdownItemLong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1% 0;
    border-radius: 5px;
    width: 90%;
    align-self: center;
}

.dropdownItemShort{
    display: flex;
    flex-direction: column;
    width: 46%;
    border-radius: 5px;
    margin: 0 2% 1% 0; 
}

.dropdownTitle{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
    padding: 0 0 0 5px;
    border: #ff6060 2px solid;
    border-radius: 5px;
}

.dropdownText{
    position: relative;
    display: none;
    color: #ff6060;
    font-size: x-large;
    background-color: #F6F6F6;
    border: #F6F6F6 2px solid;
    border-radius: 0 0 5px 5px;
    word-wrap: break-word;
}

.active {
    display: block;
    background-color: #F6F6F6;
    border-radius: 10px;
}


@media (max-width: 850px) { 
    .dropdownItemLong{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 1% 0;
        border-radius: 5px;
        width: 100%;
        align-self: center;
    }

    .dropdownItemShort{
        display: flex;
        flex-direction: column;
        width: 95%;
        border-radius: 5px;
        margin: 0 2% 1% 0; 
    }
}