.dropdownItemLong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1% 0;
    border-radius: 5px;
}

.dropdownItemShort{
    display: flex;
    flex-direction: column;
    width: 46%;
    border-radius: 5px;
    margin: 0 2% 1% 0; 
}

.dropdownTitle{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
    padding: 0 0 0 5px;
    border: #ff6060 2px solid;
    border-radius: 5px;
}

.dropdownText{
    position: relative;
    display: none;
    color: #ff6060;
    font-size: x-large;
    background-color: grey;
    border: grey 2px solid;
    border-radius: 0 0 5px 5px;
}

.active {
    display: block;
    background-color: grey;
    border-radius: 10px;
}
