.displayLogement {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: gray;
    border: grey 3px solid;
    border-radius: 15px;
    margin:0 6% 2% 6%;
  }

  .logement {
    display: flex;
    justify-content: center;
    width: 33%;
    color: white;
    background-color: #FF6060;
    border: black 3px solid;
    border-radius: 2px;
  }

  .cards{
    width: 30%;
    padding: 10px;
  }

  .cards p{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 100%;
    position: relative;
    top: -50px;
  }

  .cards img{
    border-radius: 15px;
    width:100%;
    object-fit: cover;
  }