.displayLogement {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border: #F6F6F6 3px solid;
    border-radius: 15px;
    margin:0 6% 2% 0;
  }

  .logement {
    display: flex;
    justify-content: center;
    width: 33%;
    color: white;
    background-color: #FF6060;
    border: black 3px solid;
    border-radius: 2px;
  }

  .cards{
    width: 30%;
    padding: 10px;
  }

  .cards a{
    text-decoration: none;
  }

  .cards p{
    display: flex;
    justify-content: center;
    color: white;
    
    width: 100%;
    position: relative;
    top: -69px;
  }

  .cards img{
    border-radius: 15px;
    width:100%;
    object-fit: cover;
    height: 320px;
  }

  @media (max-width: 850px) { 
    .displayLogement {
      display: flex;
      justify-content: center;
      flex-direction: column;

      margin:0 6% 2% 0;
    }

    .cards{
      width: 90%;
      padding: 10px;
    }
  }